/*!----GRUNDLÄGGANDE STYLING----!*/
*{
    font-family: 'Quattrocento Sans', sans-serif;
}
p{
    font-size:18px;
}
body > .container-fluid{
    background:  url("../../Images/wall.jpg");
}
/*!----SLUT GRUNDLÄGGANDE STYLING----!*/

/*!----RESIZING STYLING NAVBAR BRAND OCH GALLERY-IMAGES----!*/
body > div > nav a :hover{
    transform: scale(1.2, 1.2); /** default is 1, scale it to 1.5 */

    transition: 0.3s ease;
}
.resizing{
    width: 200px;
    position: relative;
    opacity: 0.5;
    transition: 0.3s ease;
    cursor: pointer;
}
.resizing:hover{
    transform: scale(1.2, 1.2); /** default is 1, scale it to 1.5 */
    opacity: 1;
}
/*!----SLUT PÅ RESIZE STYLING----!*/

/*!----STYLING INNANFÖR VÅR NAVBAR----!*/
.navbar-brand{
    font-family: 'Courgette', cursive;
}
#navbar-collapse-container > ul:nth-child(1) > li.active.open > ul > li.active > a{
    background-color: #bada59;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    background-image:none;
}
/*!----SLUT STYLING FÖR NAVBAR----!*/

/*!----STYLING FÖR PILARNA (LEFT, RIGHT) FÖR BILDERNA I CAROUSEL----!*/
.carousel-control{
    background-color: transparent;
}
.glyphicon-chevron-left, .glyphicon-chevron-right{
    color: #baba59;
    opacity: 1;
}

.glyphicon-chevron-left, .glyphicon-chevron-right:hover{
    color: #baba59;
    opacity: 1;
}
.carousel-control.right, .carousel-control.left{
background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0));
background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0));
/* background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.5))); */
/* background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%)*/
}
.carousel{
    margin-bottom: 20px;
}
/*!----SLUT PÅ STYLING FÖR CAROUSEL----!*/

/*!----STYLING FÖR FOOTER----!*/
footer, footer.container-fluid{
    /*FÅ BORT MARGIN OCH PADDING I CONTAINER-FLUID*/
   /* margin:0;
    padding:0;*/
}
footer.well{
    /*ÄNDRAR BAKGRUND SÅ ATT VI FÅR SAMMA SOM I NAVBAR-INVERSE I VÅR WELL I FOOTER*/
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    background-repeat: repeat-x;
    border: transparent;
    border-radius: 4px;
    color: white;
    margin:0;
}
/*!----SLUT STYLING FÖR FOOTER----!*/

/*!----STYLING FÖR VÅR BREADCRUMB SAMT FÅR GLYPHICON OCH DET AKTIVA LIST-ITEM(LI)----!*/
.breadcrumb {
    background: rgba(0,0,0,0.5);
}
.glyphicon-home, .breadcrumb a{
    color: #bada59;
    text-decoration: none;
}
.glyphicon-home:hover, .breadcrumb a:hover{
    color:orangered;
    text-decoration:none;
}
.breadcrumb>.active {
    color: #ffffff;
}
/*!----SLUT STYLING FÖR BREADCRUMB----!*/

/*!----STYLING FÖR VÅR MODAL----!*/
.modal > div > button > span{
    font-size: 40px;
    color: white;
}
/*SLUT STYLING FÖR MODAL*/

/*!----STYLING FÖR IMG I VÅR GALLERY.HTML ----!*/
.gallerymargin img{
    margin-bottom: 20px;
}
/*!----SLUT STYLING FÖR IMG I GALLERY.HTML----!*/


/*!----STYLING PÅ PANEL-WARNING PANEL-HEADING OCH PÅ JUMBOTRON----!*/

.panel-warning .panel-heading, .jumbotron{
    background-image: -webkit-linear-gradient(top,orangered 0,#faf2cc 100%);
    background-image: -o-linear-gradient(top,orangered 0,#faf2cc 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(orangered),to(#faf2cc));
    background-image: linear-gradient(to bottom,orangered 0,#faf2cc 100%);
    color: #fff;
}

/*!----STYLING PÅ VÅR NAV-TABS OCH WELL FÖR DE SPECIFIKA PRODUKTSIDORNA----!*/
.nav-tabs{
    border: none;
}
.nav-tabs li.active > a{
    background-color: #fff;
    color:#555;
}
.nav-tabs > li a{
    background-color: #baba59;
    color: white;
}
.nav-tabs > li a:hover, .nav-tabs > li.active a:hover{
    background-color: orangered;
    color:white;
}
.tab-pane .well{
    background-image: none;
    background-color: orangered;
    color: white;
}
.tab-pane a{
    color: lime;
}
.tab-pane a:hover{
    color: white;
}
.tab-pane form{
    color: orangered;
 }

.modal-dialog{ /*!----Ändrar textfärg till svart i confirmModal----!*/
   color:black;
}
/*!----SLUT PÅ STYLING NAV-TABS OCH WELL (SPEC.PROD)----!*/

/*!----Media-query för mobiler att de ska ha en annan bakgrund, istället för en bild så blir det endast en färg----!*/
@media (max-width:768px){
.panel{
    margin-top: 20px;
}
}
